<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Пособия</h1>
			<p class="mui--text-subhead">Не стоит спешить приобретать неоправданно дорогущие пособия в&#160;книжных. Все&#160;уже давно доступно в&#160;электронном виде.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Красный Мерфи</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/@2x/books-essential-grammar-in-use.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/@1x/books-essential-grammar-in-use.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Essential Grammar in&#160;Use. Cambridge University Press. The world's best-selling grammar series for learners of English. Essential Grammar in&#160;Use Fourth edition is a self-study reference and practice book for elementary-level learners (A1-B1), used by millions of people around the world. With&#160;clear examples and easy-to-follow exercises, it is perfect for independent study, covering all the areas of grammar you will need at this level. This&#160;edition includes an eBook, for use on tablet devices and desktop and laptop computers. The&#160;eBook has the same grammar explanations and exercises found in the printed book, plus other great features such as integrated audio for all of the example sentences and an easy-to-use answer&#160;key.</p>
			<p><a href="https://www.ozon.ru/context/detail/id/33773141/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Голицынский</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/@2x/books-golitsynsky-exercises.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/@1x/books-golitsynsky-exercises.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Грамматика. Каро. Сборник упражнений по&#160;всем разделам английской грамматики. Упражнения основаны на&#160;несложной лексике. Они&#160;содержат достаточно материала для запоминания основных грамматических форм и&#160;выработки навыков их&#160;применения. Дополнен теоретическим материалом и&#160;словарем. Предназначен для учащихся V-IX&#160;классов базовых школ и&#160;школ с&#160;углубленным изучением английского&#160;языка.</p>
			<p><a href="https://www.ozon.ru/context/detail/id/138022245/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Grammar &amp;&#160;Vocabulary</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/@2x/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/@1x/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Grammar &amp;&#160;Vocabulary. Macmillan. Учебное пособие предназначено для совершенствования грамматических и&#160;лексических навыков учащихся, необходимых для успешной сдачи ЕГЭ. Учебное пособие содержит: 28 тематически организованных уроков; четкие объяснения лексических и&#160;грамматических явлений; дополнительные задания в&#160;формате ЕГЭ; задания на&#160;повторение и&#160;закрепление пройденного материала; справочный раздел с&#160;поурочным списком слов и&#160;устойчивых словосочетаний, словарем фразовых и&#160;неправильных глаголов, информацией о&#160;способах словообразования, таблицу с&#160;основными различиями между британским и&#160;американским вариантами английского&#160;языка.</p>
			<p><a href="https://www.ozon.ru/context/detail/id/24447047/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Коллинз Кобилд</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/@2x/books-collins-cobuild-english-grammar.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/@1x/books-collins-cobuild-english-grammar.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">English Grammar. Collins. This major new edition, based on extensive corpus and academic research, provides students and teachers with an authoritative and up-to-date grammar of English. Fully updated based on extensive corpus research into areas of grammar that have changed in recent years; Clear explanations of common grammatical patterns using simple language; Highlights British and American English differences; Two brand-new supplements on grammar for business and in an academic environment; Unique notes on how the language works help you express yourself more confidently and freely; Thousands of examples from the Collins corpus illustrate how grammar points are used in everyday English.</p>
			<p><a href="https://www.ozon.ru/context/detail/id/7009071/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BiWUwi-gShj/" data-instgrm-version="8" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Фото</h3>
			<p class="mui--text-caption"><a href="https://www.flickr.com/photos/englishextra/albums/72157694410206950" target="_blank" rel="noopener">&#169;&#160;2018 serguei-gallery by englishextra</a></p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
