/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-webfont-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * fixes to Simple Grid
 */

.grid:last-child,
.grid-narrow:last-child {
	/* margin-bottom: 1.333rem; */
	padding-bottom: 1.333rem;
}

.grid .col .content h1,
.grid .col .content h2:first-child,
.grid .col .content h3:first-child,
.grid .col .content p:first-child,
.grid-narrow .col .content h1,
.grid-narrow .col .content h2:first-child,
.grid-narrow .col .content h3:first-child,
.grid-narrow .col .content p:first-child {
	margin-top: 0;
}

.grid .col .content h2.btn-expand-hidden-layer:first-child,
.grid-narrow .col .content h2.btn-expand-hidden-layer:first-child {
	margin-top: 1.333rem;
}

.grid .col .footer p,
.grid-narrow .col .footer p {
	text-align: center;
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	background-color: $color-hex-page-bg;
	transition: left 0.2s linear;
}

.page.is-active {
	position: relative;
	left: 18.133rem;
}

.page img,
.masonry-grid img {
	display: block;
}

.panel-nav-top {
	display: block;
	width: 100%;
	height: 3.200rem;
	background-color: $color-hex-ui-bar-bg;
}

.container {
	display: block;
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
	padding: 0;
	margin: 0 auto;
}

.app-content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.container .content-wrapper,
.app-content .content-wrapper {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.container .content-wrapper:after,
.app-content .content-wrapper:after,
.app-content:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * nav menu
 */

.panel-nav-menu {
	display: block;
	width: 18.133rem;
	height: 100%;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	bottom: 0;
	font-size: 0.867rem;
	line-height: 3.200rem;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	padding: 0;
	margin: 0;
	margin-left: -18.133rem;
}

.panel-nav-menu li {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	font-size: 0.867rem;
	color: #FFFFFF;
	border: none;
	transition: background-color 0.2s ease;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-nav-menu li a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

/* .panel-nav-menu li a:focus, */
.panel-nav-menu li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.panel-nav-menu li a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.btn-nav-menu {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	color: $color-hex-gray-text;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.btn-nav-menu:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

.page.is-active .btn-nav-menu,
/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-nav-menu {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.page.is-active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
}

.page.is-active .panel-nav-menu {
	left: 18.133rem;
	width: 18.133rem;
}

.page.is-active .btn-nav-menu {
	left: 18.133rem;
}

/*!
 * menu more
 */

.btn-menu-more {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 3.200rem;
	color: $color-hex-gray-text;
	text-decoration: none;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.page.is-active .btn-menu-more {
	left: 21.333rem;
}

.btn-menu-more:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-menu-more:focus, */
.btn-menu-more:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-menu-more {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.holder-panel-menu-more {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	color: $color-hex-body-text;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $AccentColor;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.page.is-active .holder-panel-menu-more {
	left: 21.333rem;
}

.holder-panel-menu-more.is-active {
	visibility: visible;
	opacity: 1;
}

.panel-menu-more {
	display: block;
	width: 18.133rem;
	height: 100%;
	font-size: 0.867rem;
	line-height: 3.200rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-menu-more li a {
	display: block;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s ease;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-menu-more li a:hover {
	color: inherit;
	background-color: $TitleBarAndAppBarLight;
}

/* .panel-menu-more li a:focus, */
.panel-menu-more li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * search form
 */

.holder-search-form {
	display: inline-block;
	position: fixed;
	top: 0.400rem;
	right: 0.400rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	display: inline-block;
	width: 9.600rem;
	font-family: inherit;
	font-size: 0.933rem;
	line-height: 1.133rem;
	color: inherit;
	border-color: transparent;
	border-style: solid;
	border-width: 0.067rem;
	transition: width 0.2s linear;
  transition-delay: 0.2s;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	padding: 0.533rem 2.400rem 0.533rem 0.533rem;
}

.holder-search-form input[type^=text]:focus,
.holder-search-form input[type^=text]:active,
.holder-search-form input[type^=search]:focus,
.holder-search-form input[type^=search]:active {
	width: 18.133rem;
	background-color: $color-hex-hover-ui-icon-bg;
	border-color: transparent;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@media only screen and (max-width: 480px) {
	.holder-search-form input[type^=text]:focus,
	.holder-search-form input[type^=text]:active,
	.holder-search-form input[type^=search]:focus,
	.holder-search-form input[type^=search]:active {
		width: 14.133rem;
	}
}

.holder-search-form button[type^=submit] {
	display: inline-block;
	width: 2.400rem;
	height: 2.400rem;
	position: fixed;
	top: 0.400rem;
	right: 0.400rem;
	font-size: 0;
	line-height: 0;
	color: $color-hex-gray-text;
	background-color: transparent;
	border: 0.067rem solid transparent;
	cursor: pointer;
	padding: 1.133rem;
}

.holder-search-form button[type^=submit]:after {
	position: absolute;
	top: 0;
	right: 0.600rem;
	font-family: "englishextra-ui-icons";
	content: "\e91c";
	font-size: 1.067rem;
	line-height: 2.267rem;
}

/* .holder-search-form button[type^=submit]:focus, */
.holder-search-form button[type^=submit]:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
	border: 0.067rem solid $AccentColor;
}

.holder-search-text:before,
.ya-site-form:before {
	width: 2.400rem;
	position: absolute;
	top: 0;
	right: 0;
	font-family: "englishextra-ui-icons";
	content: "\e91c";
	font-size: 1.067rem;
	padding: 0.533rem 0.667rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	display: inline-block;
	background-color: $color-hex-ui-bar-bg;
}

/*!
 * fix for yandex search
 * site.yandex.net/v2.0/js/suggest.js
 */

.holder-search-form table td {
	padding: 0;
}

.ya-site-form.ya-site-form_inited_no {
	visibility: hidden;
}

.ya-page_js_yes .ya-site-form_inited_no,
.ya-site-form__submit {
	display: none;
}

/*!
 * fixes to typeboost.css
 * modularscale.com
 * @see {@link https://github.com/modularscale/modularscale-sass}
 * ----------------
 * $ms-base: 1em;
 * $ms-ratio: 1.5,1.1;
 * ----------------
 * ms(16) / 3.452em
 * ms(15) / 3.375em
 * ms(14) / 3.138em
 * ms(13) / 2.853em
 * ms(12) / 2.594em
 * ms(11) / 2.358em
 * ms(10) / 2.25em
 * ms(9) / 2.144em
 * ms(8) / 1.949em
 * ms(7) / 1.772em
 * ms(6) / 1.611em
 * ms(5) / 1.5em
 * ms(4) / 1.464em
 * ms(3) / 1.331em
 * ms(2) / 1.21em
 * ms(1) / 1.1em
 * ms(0) / 1em
 * ms(-1) / 0.909em
 * ms(-2) / 0.826em
 * ms(-3) / 0.751em
 * ms(-4) / 0.683em
 * ms(-5) / 0.667em
 * ms(-6) / 0.621em
 */

#h1 {
	margin-top: 0;
	margin-bottom: 0.533rem;
}

.col h2 a,
.col h2 a:focus,
.col h2 a:hover,
.col h2 a:active,
.col h2 a:visited {
	color: inherit;
}

.col h2 + div form p:first-child {
	margin-top: 0;
}

.col a {
	font-weight: inherit;
	color: $color-hex-link;
}

.col a:focus,
.col a:hover,
.col a:active {
	color: $color-hex-hover-link;
}

.col a:visited {
	color: $color-hex-visited-link;
}

.col p.subhead {
	font-size: 1.200rem;
	line-height: 1.600rem;
}

.col dl dt a {
	color: inherit;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 0.067rem;
}

.col dl dt a:focus,
.col dl dt a:hover,
.col dl dt a:active {
	color: inherit;
}

.col img,
.col svg,
.col canvas,
.col video,
.col textarea {
	width: 100%;
}

.col img.inline {
	width: auto;
}

.col img.data-src-img,
.col img[data-src] {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.col img.data-src-img,
.col img[data-src],
.col iframe.data-src-iframe,
.col iframe[data-src] {
	background-color: $LeftNavBarLight;
}

.col img.data-src-img.is-active,
.col img[data-src].is-active {
	opacity: 1;
}

.col figcaption {
	font-size: 0.800rem;
	line-height: 1.067rem;
	margin-top: 0.267rem;
}

.col figcaption a,
.col figcaption a:focus,
.col figcaption a:hover,
.col figcaption a:active,
.col figcaption a:visited {
	color: inherit;
}

.col figcaption p {
	font-size: inherit;
	line-height: inherit;
}

.col img,
.col svg,
.col canvas {
	height: auto;
}

.col video,
.col svg {
	display: block;
	padding: 0;
}

.col canvas {
	vertical-align: bottom;
}

.col .video-wrapper {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.col .video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.col .soundcloud-wrapper iframe {
	display:block;
	width: 100%;
	height: 166px;
}

.holder-chapters-select + canvas {
	margin-top: 1.333rem;
}

.col table.respond {
	width: 100%;
}

.col table {
	border: none;
	border-top-width: 0.067rem;
	border-top-style: solid;
	border-top-color: $color-hex-divider;
	border-right-width: 0.067rem;
	border-right-style: solid;
	border-right-color: $color-hex-divider;
	border-left-width: 0.067rem;
	border-left-style: solid;
	border-left-color: $color-hex-divider;
}

.col table th {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td.with-img-only {
	padding: 0.533rem;
}

@media screen and (max-width: 640px) {
	.col table.respond {
		border: none;
	}

	.col table.respond td {
		display: block;
	}

	.col table.respond,
	.col table.respond tr,
	.col table.respond td {
		width: 100%;
		box-sizing: border-box;
	}

	.col table.respond tr {
		float: left;
		position: relative;
		border: 0.067rem solid $color-hex-divider;
		border-bottom: none;
		margin-bottom: 1.333rem;
	}

	.col table.respond tr:last-child {
		margin-bottom: 0;
	}

	.col table.respond thead,
	.col table.respond tfoot {
		display: none;
	}

	.col table.respond td::before {
		display: block;
		float: left;
		content: attr(data-label);
		font-weight: bold;
		text-align: right;
		padding-right: 0.667rem;
	}
}

.col hr,
.col .hr {
	height: 0.067rem;
	background-color: $color-hex-divider;
}

.col .highlight {
	color: $color-hex-highlight;
}

.col pre,
.col pre code,
.col .phonetic {
	font-family: "Roboto Mono", $font-family-webfont-monospace;
}

.col .underline {
	text-decoration: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: inherit;
}

/*!
 * buttons
 */

.col div + .holder-bottom-navigation,
.holder-bottom-navigation:first-child {
	margin-top: 1.333rem;
}

.col .btn-larger,
.col a.btn-larger {
	height: 2.400rem;
	font-size: 0.933rem;
	font-weight: 400;
	padding-right: 0.733rem;
	padding-left: 0.733rem;
}

.col a.btn-larger {
	display: inline-block;
	font-family: inherit;
	line-height: 2.267rem;
	text-align: center;
	text-decoration: none;
	border: 0.067rem solid $TitleBarAndAppBarDark;
}

.col a.btn-larger i.fa,
.col a.btn-larger i.mi,
.col a.btn-larger i.mdi,
.col a.btn-larger i.material-icons,
.mdi {
	vertical-align: bottom;
}

.mdi.mdi-menu {
	font-size: 24px;
}
	font-size: 0.800rem;
	line-height: 2.400rem;
}

.col .btn-primary,
.col .btn-primary:focus,
.col a.btn-primary,
.col a.btn-primary:focus {
	color: #FFFFFF;
	background-color: $TitleBarAndAppBarDark;
	border-color: $TitleBarAndAppBarDark;
}

.col .btn-primary:hover,
.col .btn-primary:active,
.col a.btn-primary:hover,
.col a.btn-primary:active {
	background-color: #000000;
	border-color: #000000;
}

.col .btn-secondary,
.col .btn-secondary:focus,
.col a.btn-secondary,
.col a.btn-secondary:focus {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonBackground;
}

.col .btn-secondary:hover,
.col .btn-secondary:active,
.col a.btn-secondary:hover,
.col a.btn-secondary:active {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonOutline;
}

.col .btn-link,
.col .btn-link:focus,
.col a.btn-link,
.col a.btn-link:focus {
	color: $ButtonText;
	background-color: transparent;
	border-color: $ButtonBackground;
}

.col .btn-link:hover,
.col .btn-link:active,
.col a.btn-link:hover,
.col a.btn-link:active {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonOutline;
}

/*!
 * aside block
 */

.col .aside {
	display: block;
	background-color: $LeftNavBarLight;
	padding: 1.333rem 1.333rem;
}

.col .aside *:first-child {
	margin-top: 0;
}

.col .aside *:last-child {
	margin-bottom: 0;
}

.col .aside p {
	font-size: 0.800rem;
	line-height: 1.067rem;
}

.col .aside h2 {
	font-size: 1.200rem;
	line-height: 1.600rem;
}

/* .col .aside h2 a,
.col .aside p a {
	color: inherit;
	text-decoration: none;
} */

.col p + .aside {
	margin-top: 1.333rem;
}

/*!
 * fix width for hint.css
 * where hint class sets display inline block
 */

[class^="hint--"],
[class*=" hint--"] {
	display: block /* !important */;
}

/*!
 * pages selecto
 */

.holder-chapters-select {
	display: block;
	width: 100%;
	text-align: left;
}

.holder-chapters-select .chapters-select {
	display: inline-block;
	width: 100%;
	max-width: 18.133rem;
	height: 2.400rem;
	font-family: inherit;
	font-size: 0.867rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
	background-color: $LeftNavBarLight;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	margin: 0;
	padding: 0 0 0 0.333rem;
}

.holder-chapters-select .chapters-select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #000;
}

.holder-chapters-select .chapters-select::-ms-expand {
	display: none;
}

.holder-chapters-select .chapters-select::-ms-value {
  background: none;
	color: inherit;
}

.holder-chapters-select .chapters-select optgroup {
	font-style: normal;
	padding-left: 0.333rem;
}

/*!
 * fix select border for electron and nw
 */

.holder-chapters-select .chapters-select,
.holder-chapters-select .chapters-select:focus,
.holder-chapters-select .chapters-select:hover,
.holder-chapters-select .chapters-select:active {
	border: 0.067rem solid $LeftNavBarLight;
}

/*!
 * expanding layer
 */

.col .btn-expand-hidden-layer {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.col .btn-expand-hidden-layer:after {
	font-family: "englishextra-ui-icons";
	content: "\e901";
	font-size: 0.400em;
	position: relative;
	bottom: 0.467em;
	margin-left: 0.467em;
}

.col .btn-expand-hidden-layer.is-active:after {
	font-family: "englishextra-ui-icons";
	content: "\e907";
}

.col .holder-hidden-layer {
	max-height: 100%;
	position: relative;
	transition: all 0.2s ease-out;
	overflow-y: hidden;
}

.js .col .holder-hidden-layer {
	max-height: 0;
	overflow: hidden;
}

.col .holder-hidden-layer.is-active,
.legacy .col .holder-hidden-layer {
	max-height: 100%;
	overflow-y: hidden;
}

.col .holder-btn-expand-hidden-layer + .holder-hidden-layer.is-active,
.legacy .col .holder-btn-expand-hidden-layer + .holder-hidden-layer {
	margin-top: 0.533rem;
}

.col .holder-hidden-layer h3:first-child,
.col .holder-hidden-layer p:first-child,
.col .holder-hidden-layer table:first-child,
.col .holder-hidden-layer ol:first-child,
.col .holder-hidden-layer ul:first-child {
	margin-top: 0;
}

.col .holder-hidden-layer p:last-child,
.col .holder-hidden-layer table:last-child,
.col .holder-hidden-layer ol:last-child,
.col .holder-hidden-layer ul:last-child {
	margin-bottom: 0;
}

/*!
 * modified github.com/tristen/tablesort
 * tristen.ca/tablesort/demo/
 */

.col table th.sort-header::selection {
	background: transparent;
}

.col table th.sort-header {
	cursor: pointer;
}

.col table th.sort-header:after {
	float: right;
	margin-top: 0;
	border-width: 0;
	border-style: none;
	font-family: "englishextra-ui-icons";
	content: "\e907";
	font-size: 0.533rem;
	position: relative;
	top: 0.067rem;
	visibility: hidden;
}

.col table th.sort-header:hover:after {
	visibility: visible;
}

.col table th.sort-up:after,
.col table th.sort-down:after,
.col table th.sort-down:hover:after {
	visibility: visible;
	opacity: 0.4;
}

.col table th.sort-up:after {
	border-bottom: none;
	border-width: 0;
}

/*!
 * sg specific
 */

.col p + div,
.col table + table,
.col video + video,
.col pre + pre,
.col img + img,
.col details + details,
.col ol + ol,
.col ul + ul,
.col dl + dl,
.col blockquote + blockquote,
.col hr {
	margin-top: 1.000rem;
}

/* .col p+div > .btn-nav, */

.col address:first-child,
.col blockquote:first-child,
.col blockquote p:first-child,
.col table:first-child,
.col video:first-child,
.col img:first-child,
.col svg:first-child,
.col pre:first-child,
.col dl:first-child,
.col ol:first-child,
.col ul:first-child,
.col details:first-child,
.col figure:first-child {
	margin-top: 0;
}

.col hr,
.col video,
.col pre,
.col details,
.col figure {
	margin-bottom: 1.000rem;
}

.col blockquote p:last-child,
.col hr:last-child,
.col video:last-child,
.col pre:last-child,
.col details:last-child,
.col figure:last-child {
	margin-bottom: 0;
}

.col .sg-btn {
	display: inline-block;
	height: 2.133rem;
	font-size: 0.800rem;
	line-height: 2.000rem;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $LeftNavBarLight;
	vertical-align: text-bottom;
	padding: 0 0.667rem;
	/**
	 * @see {@link https://css-tricks.com/fighting-the-space-between-inline-block-elements/}
	 */
	margin-bottom: -0.067em;
	cursor: pointer;
}

.col .sg-btn:after {
	font-family: "englishextra-ui-icons";
	content: "\e901";
	font-size: 0.467em;
	position: relative;
	vertical-align: middle;
	margin-left: 0.600em;
}

.col .sg-btn.is-active:after {
	font-family: "englishextra-ui-icons";
	content: "\e907";
	font-size: 0.467em;
	position: relative;
	vertical-align: middle;
	margin-left: 0.600em;
}

.col .sg-markup-controls {
	overflow: hidden;
	padding-top: 1.000rem;
}

.legacy .col .sg-btn--source {
	display: none;
}

.col .sg-source {
	position: relative;
}

.col .sg-source pre {
	margin: 0;
}

.col .sg-source {
	max-height: 160.000em;
	overflow-y: auto;
}

.js .col .sg-source {
	max-height: 0;
	overflow: hidden;
}

.col .sg-source.is-active,
.legacy .col .sg-source {
	max-height: 160.000em;
	overflow-y: auto;
}

.col .sg-font-primary {
	font-family: "Roboto", $font-family-webfont-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	padding: 0;
	margin: 0;
}

.col .sg-font-secondary {
	font-family: "Roboto", $font-family-webfont-sans-regular;
	font-weight: 300;
	font-size: 1.600rem;
	line-height: 2.000rem;
	padding: 0;
	margin: 0;
}

.col .sg-font-phonetic {
	font-family: "Roboto Mono", $font-family-webfont-monospace;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	padding: 0;
	margin: 0;
}

.col .sg-font-preformatted {
	font-family: "Roboto Mono", $font-family-webfont-monospace;
	font-weight: 400;
	font-size: 0.867rem;
	line-height: 1.333rem;
	padding: 0;
	margin: 0;
}

/* .col .sg-panel-ui-btns span, */

.col .sg-panel-ui-btns svg {
	display: block;
	float: left;
	width: 3.200rem;
	height: 3.200rem;
	background-color: $color-hex-ui-icon-bg;
	vertical-align: bottom;
	margin: 0;
	padding: 0.933rem;
}

/* .col .sg-panel-ui-btns span:hover, */

.col .sg-panel-ui-btns svg:hover {
	background-color: $color-hex-hover-ui-icon-bg;
	cursor: pointer;
}

/*!
 * englishextra ui colors
 */

.bg-AccentColor {
	background-color: $AccentColor;
}

.bg-AccentColorBrighter {
	background-color: $AccentColorBrighter;
}

.bg-LeftNavBarDark {
	background-color: $LeftNavBarDark;
}

.bg-TitleBarAndAppBarDark {
	background-color: $TitleBarAndAppBarDark;
}

.bg-TitleBarAndAppBarDarkItemHighlight {
	background-color: $TitleBarAndAppBarDarkItemHighlight;
}

.bg-LeftNavBarLight {
	background-color: $LeftNavBarLight;
}

.bg-TitleBarAndAppBarLight {
	background-color: $TitleBarAndAppBarLight;
}

.bg-ButtonBackground {
	background-color: $ButtonBackground;
}

.bg-ButtonBackgroundDark {
	background-color: $ButtonBackgroundDark;
}

.bg-ButtonText {
	background-color: $ButtonText;
}

.bg-ButtonOutline {
	background-color: $ButtonOutline;
}

.bg-PlaceholderText {
	background-color: $PlaceholderText;
}

.bg-color-rgba-selection-text {
	background-color: $color-rgba-selection-text;
}

.bg-color-rgba-selection-bg {
	background-color: $color-rgba-selection-bg;
}

.bg-color-hex-body-text {
	background-color: $color-hex-body-text;
}

.bg-color-hex-gray-text {
	background-color: $color-hex-gray-text;
}

.bg-color-hex-link {
	background-color: $color-hex-link;
}

.bg-color-hex-hover-link {
	background-color: $color-hex-hover-link;
}

.bg-color-hex-visited-link {
	background-color: $color-hex-visited-link;
}

.bg-color-hex-progress-bar {
	background-color: $color-hex-progress-bar;
}

.bg-color-hex-highlight {
	background-color: $color-hex-highlight;
}

.bg-color-hex-url {
	background-color: $color-hex-url;
}

.bg-color-hex-page-bg {
	background-color: $color-hex-page-bg;
}

.bg-color-rgba-page-overlay-bg {
	background-color: $color-rgba-page-overlay-bg;
}

.bg-color-hex-divider {
	background-color: $color-hex-divider;
}

.bg-color-hex-lighter-divider {
	background-color: $color-hex-lighter-divider;
}

.bg-color-hex-ui-icon-bg {
	background-color: $color-hex-ui-icon-bg;
}

.bg-color-rgba-ui-icon-bg {
	background-color: $color-rgba-ui-icon-bg;
}

.bg-color-hex-hover-ui-icon-bg {
	background-color: $color-hex-hover-ui-icon-bg;
}

.bg-color-rgba-dark-ui-icon-bg {
	background-color: $color-rgba-dark-ui-icon-bg;
}

.bg-color-hex-hover-dark-ui-icon-bg {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

.bg-color-hex-ui-button-bg {
	background-color: $color-hex-ui-button-bg;
}

.bg-color-hex-hover-ui-button-bg {
	background-color: $color-hex-hover-ui-button-bg;
}

.bg-color-hex-ui-button-secondary-bg {
	background-color: $color-hex-ui-button-secondary-bg;
}

.bg-color-hex-hover-ui-button-secondary-bg {
	background-color: $color-hex-hover-ui-button-secondary-bg;
}

.bg-color-hex-active-input-bg {
	background-color: $color-hex-active-input-bg;
}

.bg-color-hex-disabled-input-bg {
	background-color: $color-hex-disabled-input-bg;
}

.bg-color-hex-dark-ui-bar-bg {
	background-color: $color-hex-dark-ui-bar-bg;
}

.bg-color-hex-dark-ui-bar-hover-item-bg {
	background-color: $color-hex-dark-ui-bar-hover-item-bg;
}

.bg-color-hex-dark-ui-bar-active-item-bg {
	background-color: $color-hex-dark-ui-bar-active-item-bg;
}

.bg-color-hex-darker-ui-bar-bg {
	background-color: $color-hex-darker-ui-bar-bg;
}

.bg-color-hex-darker-ui-bar-hover-item-bg {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

.bg-color-hex-darker-ui-bar-active-item-bg {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.bg-color-rgba-darker-ui-bar-inset-shadow {
	background-color: $color-rgba-darker-ui-bar-inset-shadow;
}

.bg-color-hex-ui-bar-bg {
	background-color: $color-hex-ui-bar-bg;
}

.bg-color-rgba-ui-bar-shadow {
	background-color: $color-rgba-ui-bar-shadow;
}

.bg-color-hex-lighter-page-bg {
	background-color: $color-hex-lighter-page-bg;
}

.bg-color-rgba-card-shadow {
	background-color: $color-rgba-card-shadow;
}

.bg-color-rgba-lightbox-shadow {
	background-color: $color-rgba-lightbox-shadow;
}

.bg-color-rgba-hint-bg {
	background-color: $color-rgba-hint-bg;
}

.bg-color-rgba-loading-spinner-text {
	background-color: $color-rgba-loading-spinner-text;
}

.bg-color-rgba-loading-spinner-bg {
	background-color: $color-rgba-loading-spinner-bg;
}

.bg-color-rgba-notifier42-text {
	background-color: $color-rgba-notifier42-text;
}

.bg-color-rgba-notifier42-bg {
	background-color: $color-rgba-notifier42-bg;
}

.bg-color-rgba-notifier42-notice {
	background-color: $color-rgba-notifier42-notice;
}

.bg-color-rgba-notifier42-success {
	background-color: $color-rgba-notifier42-success;
}

.bg-color-rgba-notifier42-warning {
	background-color: $color-rgba-notifier42-warning;
}

.bg-color-rgba-notifier42-error {
	background-color: $color-rgba-notifier42-error;
}

.bg-color-rgba-img-lightbox-border {
	background-color: $color-rgba-img-lightbox-border;
}

.bg-color-hex-englishextra-logo-bg {
	background-color: $color-hex-englishextra-logo-bg;
}

.bg-color-hex-vk-like-bg {
	background-color: $color-hex-vk-like-bg;
}

/*!
 * footer
 */

.col .footer {
	border-top: 0.067rem solid $color-hex-divider;
}

.col .footer p {
	font-size: 0.800rem;
	line-height: 1.067rem;
}

.col .footer a {
	color: $color-hex-gray-text;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-gray-text;
}

.col .footer a:hover,
.col .footer a:active,
.col .footer a:focus {
	color: $color-hex-gray-text;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * pluso, yashare
 */

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.pluso {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.pluso.is-active {
	visibility: visible;
	opacity: 1;
}

.btn-share-buttons {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-share-buttons:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-share-buttons:focus, */
.btn-share-buttons:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-share-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

.btn-show-vk-like {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-show-vk-like:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-show-vk-like:focus, */
.btn-show-vk-like:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */
.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.ui-totop:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
}
.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}
.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}
/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * @see {@link https://github.com/lukehaas/css-loaders}
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */

.is-active-loading-spinner .loading-spinner {
	font-size: 0.500em;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5.000em 0 0 -5.000em;
	text-indent: -9999em;
	border-top: 1.000em solid $color-rgba-loading-spinner-bg;
	border-right: 1.000em solid $color-rgba-loading-spinner-bg;
	border-bottom: 1.000em solid $color-rgba-loading-spinner-bg;
	border-left: 1.000em solid $color-rgba-loading-spinner-text;
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
	z-index: 3;
}

.is-active-loading-spinner .loading-spinner,
.is-active-loading-spinner .loading-spinner:after {
	border-radius: 50%;
	width: 10.000em;
	height: 10.000em;
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*!
 * img lightbox
 */

.img-lightbox-container {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-rgba-page-overlay-bg;
	opacity: 0;
}

.img-lightbox-container img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: zoom-out;
	background-color: transparent;
	border: 0;
	box-shadow: 0.267rem 0.267rem 0.267rem 0 $color-rgba-lightbox-shadow;
	opacity: 0;
	user-select: none;
	vertical-align: middle;
	margin: auto;
}

/*!
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.img-lightbox-container.animated,
.img-lightbox-container img.animated {
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

/*!
 * download app btn
 */

.btn-download-app {
	display: block;
	width: 10.200rem;
	height: 3.467rem;
	position: fixed;
	top: 3.600rem;
	right: 0.400rem;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 10.200rem 3.600rem;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
}

/*!
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.btn-download-app.animated {
	animation-duration: 0.2s;
	animation-fill-mode: both;
}

/*!
 * location qr code
 */

.holder-location-qrcode {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	background-color: #FFFFFF;
}

.holder-location-qrcode .qr-code-img,
.holder-location-qrcode img {
	display: block;
	width: 9.600rem;
	height: 9.600rem;
	background-color: transparent;
	background-size: 9.600rem 9.600rem;
	border: 0;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}

/*!
 * notifier42
 * inspired by github.com/mlcheng/js-toast
 */

.notifier42 {
	display: block;
	opacity : 0;
	/* width: calc(100% - 6.400rem); */
	width: 100%;
	/* min-height: 3.200rem; */
	position : fixed;
	bottom : 0;
	left: 0;
	font-size: 0.933rem;
	line-height: 1.333rem;
	text-align : center;
	word-break : keep-all;
	color : $color-rgba-notifier42-text;
	background-color: $color-rgba-notifier42-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	padding: 0;
	margin: 0 auto;
}

.notifier42.animated {
	padding: 0.933rem 3.200rem;
	min-height: 3.200rem;
}

.notifier42.notice {
	background-color: $color-rgba-notifier42-notice;
}

.notifier42.warning {
	background-color: $color-rgba-notifier42-warning;
}

.notifier42.error {
	background-color: $color-rgba-notifier42-error;
}

.notifier42.success {
	background-color: $color-rgba-notifier42-success;
}

/*!
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.notifier42.animated {
	animation-duration: 0.2s;
	animation-fill-mode: both;
}

/*!
 * disqus
 */

#disqus_thread {
	background-color: $LeftNavBarLight;
}

#disqus_thread.is-active iframe {
	margin-top: 0.533rem;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */
